.refereemanager-subbox {
	-fx-padding: 5 0 10 0;
	-fx-spacing: 5;
}

.refereemanager-subbox .edgesoft-heading2 {
	-fx-padding: 0 0 5 0;
}

.refereemanager-datatableselect {
	-fx-hgap: 5;
	-fx-vgap: 5;
}

.refereemanager-datatableselect .button {
	-fx-content-display: top;
	-fx-wrap-text: true;
	-fx-text-alignment: center;
}

.refereemanager-details-vbox {
	-fx-spacing: 10;
	-fx-padding: 20 0 0 0;
}

.refereemanager-details-gridpane {
	-fx-vgap: 10;
}

.refereemanager-details-table-header-cell {
	-fx-font-style: italic;
}

.refereemanager-input-scrollpane {
	-fx-padding: 5;
	-fx-fit-to-width: true;
}

.refereemanager-input-gridpane {
	-fx-vgap: 5;
	-fx-alignment: top-center;
}

.refereemanager-input-vbox {
	-fx-spacing: 10;
}

.refereemanager-datatable-vbox {
	-fx-spacing: 10;
	-fx-padding: 5;
}
